@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-text-dark: var(--text-dark);
  --color-text-light: var(--text-light);
  --color-bg-light: var(--bg-light);
  --color-bg-dark: var(--bg-dark);
  --color-bg-white: var(--bg-white);
}

:root {
  --primary-color: #1e3a8a; /* Navy Blue */
  --secondary-color: #c2a67f; /* Gold */
  --accent-color: #b45309; /* Darker Gold */
  --text-dark: #1f2937;
  --text-light: #4b5563;
  --bg-light: #f9fafb;
  --bg-dark: #111827;
  --bg-white: #ffffff;
}

body {
  color: var(--text-dark);
  background-color: var(--bg-white);
  font-family: 'Inter', sans-serif;
}
